.heading.navbar,
.heading.navbar-default {
  position: relative;
  width: 100%;
  height: $cfa-unit;
  background-color: $deep-sky-blue;
  background: linear-gradient(to right, $deep-sky-blue-d05, $deep-sky-blue);
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  &:before, &:after {
    content: none;
  }
  h3 {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    line-height: $cfa-unit;
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }
  .menu-button-group {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 38px;
    height: 38px;
  }
  .menu-button {
    width: 100%;
    height: 100%;
    background: none;
    color: $cfa-blue;
    border: 1px solid $cfa-blue;
    border-radius: 4px;
    &:hover {
      background-color: $deep-sky-blue-l10;
    }
  }
  .dropdown-menu {
    top: 48px;
    left: auto;
    right: 0;
    .dropdown-menu-item {
      i {
        margin-right: 5px;
      }
      &.disabled {
        pointer-events: none;
      }
    }
  }
  .menu-separator {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .badge {
    &.blue {
      background-color: $label-info-bg;
    }
    &.green {
      background-color: $label-success-bg;
    }
    &.yellow {
      background-color: $label-warning-bg;
    }
    &.red {
      background-color: $label-danger-bg;
    }
  }
}
