.dashboard-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  @include cfa-scrollbar();
  .widgets {
    display: flex;
    padding: 0 15px;
    height: ($cfa-unit * 2);
    min-height: ($cfa-unit * 2);
    background-color: $pale-turquoise;
  }
  .widget {
    flex: 1;
    padding: ($cfa-unit * 0.5) 2px;
    text-align: center;
    min-width: 12.5%;
    .badge {
      display: block;
      max-width: 100px;
      margin: 5px auto;
      background-color: $label-warning-bg;
      &.ok {
        background-color: $label-success-bg;
      }
    }
    a {
      color: $cfa-blue-d10;
    }
  }
  .student-table {
    position: relative;
    display: flex;
    flex: 1;
    min-height: ($cfa-unit * 5);
    .grid {
      @extend %abs-fill-parent;
      border: none;
    }
  }
}
