$bgDefault: $cfa-blue;
$bgHighlight: $cfa-blue-l05;
$colDefault: white;
$colHighlight: $teal-l10;
$navbar-height: $cfa-unit;

.cfa.navbar-default,
.cfa.navbar {
  background-color: $bgDefault;
  border: none;
  border-radius: 0;
  margin: 0;
  .navbar-brand {
    height: $navbar-height;
    line-height: $navbar-height;
    padding: 0;
    margin-left: 10px;
    color: $colDefault;
    text-shadow: 2px 2px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
    line-height: $navbar-height;
    margin: 0 10px;
  }
  .navbar-nav {
    li {
      &:last-child {
        margin-right: 10px;
      }
      a {
        line-height: $navbar-height;
        padding: 0 10px;
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight;
        }
      }
    }
    .active {
      a, a:hover, a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    .open {
      a, a:hover, a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    line-height: 18px;
    margin: 8px;
    color: $colDefault;
    border-color: transparent;
    &:hover, &:focus {
      color: $colHighlight;
      background-color: transparent;
    }
    .icon-bar {
      background-color: transparent;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .cfa.navbar-default .navbar-nav .open .dropdown-menu {
    li {
      a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight;
        }
      }
      .active {
        a, a:hover, a:focus {
          color: $colHighlight;
          background-color: $bgHighlight;
        }
      }
    }
  }
}

#sidebar-toggle {
  display: block;
  i {
    transition: transform 0.5s ease;
  }
}

@media print {
  .cfa.navbar {
    display: none !important;
  }
}
