@import '../../app/common';

$bgDefault: $cfa-background;
$bgHighlight: lighten($cfa-background, 15%);
$colDefault: #fff;
$colHighlight: #c8f7c5;
$navbar-height: 54px;

.cfa.navbar-default,
.cfa.navbar {
  background-color: $bgDefault;
  border: none;
  .navbar-brand {
    height: $navbar-height;
    line-height: $navbar-height;
    padding: 0;
    margin-left: 15px;
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
    line-height: $navbar-height;
    margin: 0 15px;
  }
  .navbar-nav {
    li {
      &:last-child {
        margin-right: 15px;
      }
      a {
        line-height: $navbar-height;
        padding: 0 15px;
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight;
        }
      }
    }
    .active {
      a, a:hover, a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    .open {
      a, a:hover, a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    line-height: 18px;
    margin: 8px;
    color: $colDefault;
    border-color: $bgHighlight;
    &:hover, &:focus {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .cfa.navbar-default .navbar-nav .open .dropdown-menu {
    li {
      a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight;
        }
      }
      .active {
        a, a:hover, a:focus, {
          color: $colHighlight;
          background-color: $bgHighlight;
        }
      }
    }
  }
}

#sidebar-toggle {
  display: block;
}
