.upload {
  min-height: $cfa-unit;
  .confirm-buttons {
    text-align: center;
  }
  .control-label {
    text-align: right;
    line-height: 34px;
    margin: 0;
    padding-right: 0;
  }
  .parsing-progress {
    min-height: $cfa-unit;
    padding: 17px 10px;
  }
  .upload-input-group {
    min-height: $cfa-unit;
    padding: 10px;
  }
  .current-record-warning {
    @extend .alert;
    @extend .alert-danger;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
  }
  .btn-default-focus {
    outline: inherit;
    box-shadow: inherit;
  }
}

.confirm {
  .confirm-buttons {
    min-height: $cfa-unit;
    padding: 10px;
    text-align: center;
  }
  .confirm-table {
    width: 100%;
    thead th {
      text-align: center;
    }
    .table,
    .table-responsive {
      margin-bottom: 0;
    }
  }
  // http://stackoverflow.com/questions/28046506/bootstrap-responsive-table-change-rows-with-column
  @media (max-width: 1200px) {
    .confirm-table {
      /* Force table to not be like tables anymore */
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tr { border: 1px solid #ccc; }

      /* Behave like a "row" */
      tbody tr td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
      }

      td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
      }

      td:before { content: attr(data-title); }
    }
  }
}
