.upload-form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  form {
    width: 100%;
  }
}

.confirm-table {
  width: 100%;
  thead th {
    text-align: center;
  }
}

// http://stackoverflow.com/questions/28046506/bootstrap-responsive-table-change-rows-with-column
@media (max-width: 767px) {
  .confirm-table {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    /* Behave like a "row" */
    tbody tr td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }

    td:before { content: attr(data-title); }
  }
}
