/* Toggle Styles */

$sidebar-background: #1BA39C;
$sidebar-highlight: #EB9531;

.sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 0;
  width: 250px;
  top: 54px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: $sidebar-background;
  transition: all 0.5s ease;
  &.isCollapsed {
    width: 0;
  }
  @media(min-width: 768px) {
    &.isCollapsed {
      width: 54px;
    }
  }
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    line-height: 54px;
    span {
      width: 54px;
      height: 54px;
      i.fa-stack-1x {
        height: 54px;
        line-height: 54px;
      }
    }
    a {
      display: block;
      text-decoration: none;
      color: #fff;
    }
    a:hover {
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
      border-left: #D35400 2px solid;
    }
  }
}

.nav-stacked > li + li {
  margin: 0;
}

.nav-pills {
  li, li.active {
    box-sizing: border-box;
    a, a:hover {
      color: #fff;
      border-radius: 0;
    }
  }
  li.active {
    > a, > a:focus {
      background-color: $sidebar-highlight !important;
      color: white;
    } 
    a:hover {
      background-color: default;
      color: white;
    }
  }
}
