sidebar {
  display: flex;
  flex-direction: column;
  @media(max-width: 1200px) {
    position: absolute;
    top: $cfa-unit;
    bottom: 0;
    z-index: 1000;
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $teal;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  &.isCollapsed {
    width: $cfa-unit;
  }
  li {
    overflow: hidden;
    white-space: nowrap;
    line-height: $cfa-unit;
    min-height: $cfa-unit;
    span {
      width: $cfa-unit;
      height: $cfa-unit;
      i.fa-stack-1x {
        height: $cfa-unit;
        line-height: $cfa-unit;
      }
    }
    a {
      display: block;
      text-decoration: none;
      color: #fff;
      border-radius: 0;
    }
    a:hover {
      color: #fff;
      background-color: $teal-l05;
      box-shadow: inset 2px 0 0 0 #D35400;
    }
    &.flex-spacer {
      flex: 1;
      min-height: 0;
    }
    &.active {
      a, a:focus {
        background-color: $orange;
      }
      a:hover {
        background-color: $orange-l05;

      }
    }
  }
  transition: all 0.5s ease;
  @media(max-width: 1200px) {
    &.isCollapsed {
      width: 0;
    }
  }
  @include cfa-scrollbar(1px, 0, $teal, $teal-d05);
}

.nav-stacked > li + li {
  margin: 0;
}

@media print {
  sidebar {
    display: none !important;
  }
}
