.admin-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  @include cfa-scrollbar();
  .user,
  .school {
    position: relative;
    flex: 1;
    min-height: $cfa-unit * 4;
  }
  .grid {
    @extend %abs-fill-parent;
    border: none;
    .action-col {
      padding: 0;
      text-align: center;
    }
    .ui-grid-cell,
    .ui-grid-header-cell-label {
      line-height: $cfa-unit;
    }
    .ui-grid-cell-contents {
      padding: 0 5px;
    }
    .ui-grid-selection-row-header-buttons {
      padding: 5px 0;
      &:not(.ui-grid-header-cell-primary-focus) {
        line-height: 44px;
      }
    }
    .ui-grid-header-cell {
      height: $cfa-unit;
    }
    .ui-grid-menu-button {
      height: 30px;
      padding: 2px 0;
      border-top: 0 solid #fff;
      .ui-grid-icon-menu {
        margin-left: 3px;
      }
    }
    .ui-select-container {
      padding: 0 2px;
    }
    .btn-default-focus {
      outline: none;
      box-shadow: none;
    }
  }
  .dev {
    .heading.navbar {
      height: $cfa-unit;
      min-height: $cfa-unit;
      line-height: $cfa-unit;
      background-color: orange;
      background: linear-gradient(to right, $orange-d05, $orange);
      button {
        margin: 10px;
        vertical-align: top;
      }
    }
  }
}

#user-grid {
  .role-dropdown {
    width: 100%;
    padding: 0 5px;
  }
  .assignment-dropdown {
    width: 100%;
    padding: 0 5px;
    button {
      padding-left: 8px;
      text-align: left;
    }
  }
}
