.student-page {
  .info {
    padding: 10px;
    display: flex;
    .col-data {
      flex: 1;
    }
    .col-attendance {
      flex: 2;
    }
  }

  .outreach-cards {
    display: flex;
    flex-wrap: wrap;

    .outreach-card {
      flex: 1;
      max-width: 50%;
      margin: 5px;
    }

    .outreach-card-text-container {
      display: flex;

      .left-column {
        flex: 1;
      }

      .right-column {
        flex: 3;

        .outreach-notes {
          height: 200px;
          max-height: 100px;
          overflow-y: auto;
        }
      }
    }
  }

  .intervention-cards {
    .add-intervention {
      position: absolute;
      right: 0;
    }
  }
}
