.student {
  height: 100%;
  .info {
    @media(min-width: 1200px) {
      min-height: 108px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    @media(max-width: 1200px) {
      min-height: 324px;
      padding: 15px 0;
    }
  }
  .interventions,
  .somethings {
    display: flex;
    flex-flow: row wrap;
  }
  .something-widget,
  .intervention-widget {
    display: flex;
    flex-direction: column;
    border-right: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
    .title {
      padding-left: 15px;
      height: 27px;
      background-color: $state-success-bg;
      h4 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 27px;
        font-weight: 200;
      }
    }
    .body {
      flex: 1;
      display: flex;
      padding-left: 15px;
      padding-right: 15px;
      line-height: 27px;
      background-color: #f1f1f1;
      .notes {
        display: flex;
        flex-direction: column;
        .new-notes {
          display: flex;
          flex-direction: row;
          min-height: 27px;
          .notes-label {
            height: 27px;
            font-weight: bold;
            padding-right: 15px;
          }
        }
        .notes-input {
          flex: 1;
          height: 27px;
          input {
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
            height: 25px;
            line-height: 25px;
            border: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            box-shadow: inset 0 0 0 1px darkgray;
            vertical-align: top;
          }
        }
        .notes-button {
          height: 25px;
          width: 25px;
          vertical-align: middle;
          text-align: center;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          padding: 0;
          border-width: 1px;
        }
        .notes-list {
          flex: 1;
          overflow-y: auto;
          width: 100%;
          box-shadow: inset 0 0 0 1px darkgray;
          .list-group {
            margin-bottom: 0;
            .list-group-item {
              overflow-wrap: break-word;
              background: none;
              line-height: 27px;
              padding: 0 5px;
              margin: 0;
              border: none;
              border-radius: 0;
              box-shadow: inset 1px 0 1px -1px, inset -1px 0 1px -1px,
              inset 0 1px 1px -1px;
              &:last-child {
                box-shadow: inset 1px 0 1px -1px, inset -1px 0 1px -1px,
                inset 0 1px 1px -1px, inset 0 -1px 1px -1px;
              }
              .badge {
                float: none;
                cursor: pointer;
                background-color: darken(lightblue, 20%);
              }
            }
          }
        }
        ::-webkit-scrollbar {
          width: 5px;
          height: 0;
        }
        ::-webkit-scrollbar-track {
          background-color: lightblue;
        }
        ::-webkit-scrollbar-thumb {
          background-color: $cfa-background;
        }
      }
    }
    @media(min-width: 1200px) {
      width: 50%;
      height: 162px;
    }
    @media(max-width: 1200px) {
      width: 100%;
      height: 270px;
    }
  }
  .something-widget {
    .title.action-required {
      background-color: $state-warning-bg;
    }
    .body {
      @media(min-width: 1200px) {
        flex-direction: row;
        align-items: center;
        .dates {
          min-width: 150px;
          .action-date {
            height: 27px;
          }
          .date-label {
            height: 27px;
            font-weight: bold;
          }
        }
        .notes {
          height: 108px;
          flex: 1;
          width: calc(100% - 150px);
        }
      }
      @media(max-width: 1200px) {
        flex-direction: column;
        justify-content: center;
        .dates {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 54px;
          .date-item {
            flex: 1;
          }
          .action-date {
            height: 27px;
          }
          .date-label {
            height: 27px;
            font-weight: bold;
          }
        }
        .notes {
          height: 162px;
        }
      }
    }
  }
  .intervention-widget {
    .title {
      position: relative;
      .dropdown {
        position: absolute;
        width: 27px;
        height: 27px;
        right: 0;
        top: 0;
        .dropdown-toggle {
          cursor: pointer;
        }
        .dropdown-menu {
          left: inherit;
          right: 0;
        }
        &.btn-group {
          text-align: center;
          vertical-align: middle;
          line-height: 27px;
          i {
            width: 14px;
            transition: transform 0.5s ease;
          }
          &.open .dropdown-toggle {
            box-shadow: none;
            @extend .fa-rotate-90;
          }
        }
      }
    }
    .body {
      flex-direction: row;
      align-items: center;
      .notes {
        width: 100%;
        @media(min-width: 1200px) {
          flex: 1;
          height: 108px;
        }
        @media(max-width: 1200px) {
          height: 216px;
        }
      }
    }
    &.archived {
      .body {
        background-color: darken(#f1f1f1, 10%);
      }
      .title {
        background-color: darken($state-warning-bg, 10%);
      }
    }
  }
}

.note.well {
  overflow-wrap: break-word;
}
