.student-view {
  flex: 1;
  overflow-y: auto;
  @include cfa-scrollbar();
  .info {
    .info-widget,
    .attendance-widget {
      display: flex;
      flex-direction: column;
      border-right: 1px lightgrey solid;
      border-bottom: 1px lightgrey solid;
      min-height: 135px;
      height: 135px;
      .subheading {
        height: 27px;
        padding: 0 10px;
        background-color: $state-info-bg;
        h4 {
          line-height: 27px;
          font-weight: 200;
          margin: 0;
        }
      }
      @media(min-width: 1200px) {
        width: 50%;
      }
      @media(max-width: 1200px) {
        width: 100%;
      }
    }
    .info-widget {
      .info-widget-item {
        height: 27px;
        line-height: 27px;
        .info-label {
          padding: 0 10px;
          font-weight: bold;
          height: 27px;
          width: 108px;
          display: inline-block;
        }
        .info-value {
          display: inline-block;
        }
      }
    }
    .attendance-widget {
      .attendance-table-row,
      .attendance-table-header {
        display: flex;
        height: 27px;
        line-height: 27px;
        .row-item,
        .header-item {
          text-align: center;
          &.date {
            min-width: 100px;
          }
          flex: 1;
        }
      }
      .attendance-table-header {
        padding-right: 3px;
        box-shadow: inset 0 -1px 1px -1px;
      }
      .attendance-table-body {
        height: 81px;
        min-height: 81px;
        overflow-y: scroll;
        @include cfa-scrollbar(3px, 0, lightgrey);
      }
      .attendance-table-row {
        box-shadow: inset 0 -1px 1px -1px darkgrey;
      }
    }
    @media(min-width: 1200px) {
      min-height: 108px;
    }
  }
  .info,
  .interventions,
  .outreaches {
    display: flex;
    flex-flow: row wrap;
  }
  .outreach-widget,
  .intervention-widget {
    display: flex;
    flex-direction: column;
    border-right: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
    .title {
      padding-left: 15px;
      height: 27px;
      background-color: $state-success-bg;
      h4 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 27px;
        font-weight: 200;
      }
    }
    .body {
      flex: 1;
      display: flex;
      padding-left: 15px;
      padding-right: 15px;
      line-height: 27px;
      background-color: #f1f1f1;
      .notes {
        display: flex;
        flex-direction: column;
        .new-notes {
          display: flex;
          min-height: 27px;
          .notes-label {
            height: 27px;
            font-weight: bold;
            padding-right: 15px;
          }
        }
        .notes-input {
          flex: 1;
          height: 27px;
          input {
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
            height: 25px;
            line-height: 25px;
            border: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            box-shadow: inset 0 0 0 1px darkgray;
            vertical-align: top;
          }
        }
        .notes-button {
          height: 25px;
          width: 25px;
          vertical-align: middle;
          text-align: center;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          padding: 0;
          border-width: 1px;
        }
        .notes-list {
          flex: 1;
          width: 100%;
          box-shadow: inset 0 0 0 1px darkgray;
          overflow-y: auto;
          @include cfa-scrollbar(5px);
          .list-group {
            margin-bottom: 0;
            .list-group-item {
              overflow-wrap: break-word;
              background: none;
              line-height: 27px;
              padding: 0 5px;
              margin: 0;
              border: none;
              border-radius: 0;
              box-shadow: inset 1px 0 1px -1px, inset -1px 0 1px -1px,
              inset 0 1px 1px -1px;
              &:last-child {
                box-shadow: inset 1px 0 1px -1px, inset -1px 0 1px -1px,
                inset 0 1px 1px -1px, inset 0 -1px 1px -1px;
              }
            }
          }
        }
      }
    }
    @media(min-width: 1200px) {
      width: 50%;
      height: 162px;
    }
    @media(max-width: 1200px) {
      width: 100%;
      height: 270px;
    }
  }
  .badge {
    float: none;
    cursor: pointer;
    &.blue {
      background-color: $label-info-bg;
    }
    &.green {
      background-color: $label-success-bg;
    }
    &.yellow {
      background-color: $label-warning-bg;
    }
    &.red {
      background-color: $label-danger-bg;
    }
  }
}

.note.well {
  overflow-wrap: break-word;
}
